 <head>
<!-- CSRF Token -->
<meta name="csrf-token" content="{{ csrf_token() }}">
<link href="/css/app.css" rel="stylesheet">
<link href="/css/form.css" rel="stylesheet">
<!-- Scripts -->
<script>
//    window.Laravel = <?php echo json_encode([
//        'csrfToken' => csrf_token(),
//    ]); ?>
</script>
</head>
<div class="loginmodal-container">
<h1>朝会スピーチ　抽選</h1><br>
<form action="" method="post">
<input type="hidden" name="mode" value="login">
<input type="hidden" name="_token" value="{{ csrf_token() }}">
<label>ユーザ名</label>
<input type="text" name="name" placeholder="ユーザID" value="" />
<label>パスワード</label>
<input type="password" name="password" placeholder="パスワード" value="" />
{% if message != '' %}
<div>{{ message }}</div>
{% endif %}
<input name="login" class="btn-login loginmodal-submit" type="submit" value="ログイン"/></a>
</form>
</div>
