{% extends 'choice/choice.twig' %}   

{% block body %}
<div class="loginmodal-container">
<h1>朝会スピーチ　抽選</h1><br>
<form action="" method="post">
<input type="hidden" name="mode" value="login">
<input type="hidden" name="_token" value="{{ csrf_token() }}">
<div class="form-group">
<label for="name" class="control-label">ユーザ名</label>
<input type="text" name="name" id="name" placeholder="ユーザID"  class="form-control" value="" />
</div>
<label>パスワード</label>
<input type="password" name="password" placeholder="パスワード" value="" />
{% if message != '' %}
    <div>{{ message }}</div>
{% endif %}
<input name="login" class="btn-login loginmodal-submit" type="submit" value="ログイン"/></a>
</form>
</div>
{% endblock %}
