<!DOCTYPE html>
<html>
    <head>
        <link href="/css/app.css" rel="stylesheet"> 
        <link href="/css/form.css" rel="stylesheet">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" >

        <title>{% block title %}朝回スピーチ抽選{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <script type="text/javascript">
        {% block myJavascript %}{% endblock %}
        </script>

        {% block body %}{% endblock %}
    </body>
</html>
